body {
  background-color: #585555;
  color: #fff;
}

.center {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="github"] {
  padding: 5px 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}

.footer {
  background-color: #333;
  color: #fff;
  clear: both;

  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-width: 30%;
}
a:visited {
  color: rgb(56, 94, 209);
}
